.contact-card{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, $sage, $darkSage);
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
    max-width: 80%;
    min-width: 300px;

    i{
        margin-right: 15px;
        font-size: 20px;
        color: $darkSage;
        padding: 15px;
        background-color: White;
        border-radius: 50px;
        width: 50px;
    }

    .text{
        color: $white;
        text-align: start;

        h3{
            padding-bottom: 5px;
        }
    }
}

@media (max-width: 480px){
    .contact-card{
        margin: 15px;
    }
}