.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

#contact{
    background-color: $gray;
    align-items: baseline;
    justify-content:start;

    h2{
        margin: 0 auto;
    }

    .contact-cards{
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        width: 40%;
    }

    .form{
        display: flex;
        flex-direction: column;
        background-color: $white;
        border-radius: 10px;
        padding: 30px;
        min-width: 320px;
        width: 50%;
        margin-right: 10%;

        *{
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 10px;
            border: 0;
            background-color: $gray;
        }

        textarea{
            height: 150px;
        }

        button{
            background: linear-gradient(to right, $sage, $darkSage);
            color: $white;
            margin: 0;
        }
    }
    .hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
    }
}

@media (max-width: 1024px) {
    #contact{
        .content{
            flex-direction: column;
        }

        .form{
            margin-right: 0;
        }

        .contact-cards{
            margin-left: 0;
            width: auto;
        }
    }
}